.descr {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.descr__program--1 {
 width: 837px;
 height: 105px;

 font-family: 'Inter';
 font-weight: 700;
 font-size: 24px;
 line-height: 35px;
 text-align: center;
}

@media (max-width: 650px ) {
  .descr {
    margin-bottom: 0px;
  }

  .descr__program--1 {
    width: 337px;
    height: 174px;

    font-size: 20px;
    line-height: 29px;
  }
}
