html {
  font-family: Helvetica, sans-serif;
}

body {
  margin: 0;
}

div {
  padding: 0;
  margin: 0;
}

h3 {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

/* #start region header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 64px;
  margin-bottom: 25px;

  border-bottom: 2px solid black;
}

.logo {
  width: 133px;
  height: 32px;
}

.nav__side--left {
  padding: 19px 0 13px 124px;
}
.nav__side--right {
  padding-right: 121px;
}

.gray__text {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  opacity: 0.6;
}

.like__bl--text {
  color: #129BF7;
}

.sign__in {
  display: inline;
  text-transform: uppercase;
  margin-right: 22px;
}

.small-icons {
  width: 18px;
  height: 16px;
}

.first--sm-icon {
  margin-right: 16px;
}

.last--sm-icon {
  display: inline-block;
}

@media (max-width: 650px ) {
  .nav__side--left {
    padding: 21px 0 23px 15px;
  }

  .nav__side--right {
    padding-right: 54px;
  }

  .sign__in {
    display: none;
  }

  .last--sm-icon {
    display: none;
  }
}

/* #end region header */

.descr {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.descr__program--1 {
 width: 837px;
 height: 105px;

 font-family: 'Inter';
 font-weight: 700;
 font-size: 24px;
 line-height: 35px;
 text-align: center;
}

@media (max-width: 650px ) {
  .descr {
    margin-bottom: 0px;
  }

  .descr__program--1 {
    width: 337px;
    height: 174px;

    font-size: 20px;
    line-height: 29px;
  }
}


/* #start region block__products */

.block__products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 58px;

  margin-bottom: 36px;

}

.first__prod, .second__prod {
  width: 331px;
  position: relative;
}

.cvs {
  text-align: center;
  height: 64px;
  line-height: 64px;
}

.product--title {
  text-transform: uppercase;
  font-family: "Inter", serif;

  height: 64px;
  line-height: 64px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;

}

.price {
  width: 231px;
  height: 48px;
  
  color: #fff;
  background-color: #FF1C0F;
  font-weight: 900;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  font-family: "Inter", serif;
  border-radius: 13px;
  padding: 4px 11px;

  position: absolute;
  bottom: 10px;
  left: 50px;
}

@media (max-width: 650px ) {
  .block__products {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .product--title {
    line-height: 40px;
  }
}

/* #end region block__products */

.descr__program--2 {
  width: 603px;
  height: 50px;

  text-align: center;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  font-family: 'Inter', serif;

  margin: 0 auto;

  margin-bottom: 67px;
}

@media (max-width: 650px ) {
  .descr__program--2 {
    width: 331px;
    height: 100px;
  }
}

/* #start region quize */
.quize {
  height: 246px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 104px;

  position: relative;
}

.quize__main {
  display: flex;
  gap: 29px;
  width: 846px;
}

.quize__image {
  height: 246px;

}

.quize__descr {
  position: relative;
  margin-bottom: 19px;
}

.blue__fon {
  width: 100%;
  height: 72px;
}

.quize__title {
  position: absolute;
  top: 11px;
  left: 61px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;

  width: 461px;
  height: 50px;
  padding-left: 10px;
}

.quize__first--part {
  height: 100%;
}
.quize__second--part {
  display: block;
  height: 100%;
}

.quize__phone--image {
  display: none;
}

.quize__pagination {
  display: flex;
  gap: 5px;

  margin-bottom: 7px;
}

.pagin__button {
  
  font-size: 15px;
  width: 21px;
  height: 21px;
  line-height: 21px;
  text-align: center;
  cursor: pointer;
}

.normal {
  color: #2261B4;
  background-color: #fff;
}
.active {
  color: #fff;
  background-color: #000;
  border-radius: 15px;
}

.quize__question {
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 17px;

  padding-inline: 0px
}

.quize__button {
  width: 300px;
  height: 70px;

  font-family: "Inter", serif;
  font-weight: 900;
  font-size: 36px;

  cursor: pointer;
}

.yes {
  background-color: #D2232E;
  color: #fff;
  border: none;
}

.no {
  background-color: #fff;
  color: #B4B4B4;
  border: 1px solid black;

}

@media (max-width: 750px ) {
  .quize__title {
    left: 25px;
  } 
}

@media (max-width: 650px ) {
  .quize {
    height: 505px;
    margin-bottom: 53px;
  }

  .quize__second--part {
    display: none;
  }

  .quize__first--part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .quize__phone--image {
    display: flex;
    justify-content: center;

  }

  .quize__main {
    flex-direction: column;
    gap: 10px;
  }

  .blue__fon {
    width: 349px;
    height: 97px;
  }

  .quize__title {
    line-height: 25px;

    width: 276px;
    height: 101px;

    text-align: center;

    left: 25px;
  }

  .quize__question {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 15px;
    padding-inline: 15px;
  }

  .quize__button {
    width: 156px;
    height: 46px;
  
    font-size: 26px;
  }
}

/* #start region quize__modal */

.quize__modal {
  display: none;

  background-color: #fff;
  width: 592px;
  height: 717px;
  z-index: 20;

  flex-direction: column;
  align-items: center;

  padding-top: 64px;

  position: absolute;
}

.modal__header {
  font-family: "Inter", serif;
  font-weight: 800;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 5;
  color: #572F83;

  margin-bottom: 34px;
}

.modal__first__descr {
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 30px;
}

.modal__product {
  margin-bottom: 25px;
}

.modal__second__descr {
  padding-inline: 65px 76px;
  margin-bottom: 38px;
  text-align: center;
}

.second__descr--1 {
  margin-bottom: 24px;
}

.second__descr {
  font-family: "Inter", serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #572F83;

}

.modal__footer {
  display: flex;
  gap: 15px;

  margin-inline: 74px 62px;
}

.email--input {
  width: 312px;
  height: 59px;
  border-radius: 10px;

  box-shadow: 0px 11px 44px #ddd ;
  border: none;

  font-family: "Inter", serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;

  padding-left: 16px;
}

.email--input::placeholder {
  color: #C2C2C2;
}

.modal__button {
  height: 59px;
  width: 129px;

  background-color: #30F000;
  color: #fff;

  border: none;
  border-radius: 10px;
  box-shadow: 0px 1px 4px #fff;

  font-family: "Inter", serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;

  cursor: pointer;
}

.timer {
  background-color: #2F3490;
  color: white;
  padding: 2px 5px;
  border-radius: 10px;
}

@media (max-width: 650px ) {
  .quize__modal {  
    width: 356px;
    height: 628px;

    border: 1px solid #ddd;
    border-radius: 10px;
  }

  .modal__header {
    font-size: 24px;
    line-height: 30px;

    margin-bottom: 12px;
  }

  .modal__first__descr {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 41px;
  }

  .modal__product {
    margin-bottom: 68px;
    height: 258px;
  }
  
  .modal__second__descr {
    padding-inline: 16px 12px;
    margin-bottom: 25px;
  }
  
  .second__descr {
    font-size: 16px;
    line-height: 20px;
  }

  .second__descr--1 {
    margin-bottom: 16px;
  }

  .modal__footer {
    gap: 9px;
  
    margin-inline: 38px 43px;
  }
  
  .email--input {
    width: 188px;
    height: 33px;
    padding-left: 10px;

    font-size: 16px;
  }

  .modal__button {
    width: 78px;
    height: 33px;
    line-height: 33px;
  
    font-size: 16px;
  }  
}


/* #end region quize__modal */
/* #end region quize */

/* #start region health__program */

.health__program {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.health__description {
  font-family: "Inter", serif;
  font-size: 32px;
  line-height: 43px;
  width: 838px;

  padding-left: 30px;
  margin-bottom: 17px;

}

.health__title {
  width: 838px;
  height: 81px;
  line-height: 81px;

  margin-bottom: 30px;

  background-color: #D2232E;
  color: #fff;

  font-family: "Inter", serif;
  font-weight: 800;
  font-size: 40px;
  text-align: center;
}


.health__program--description{
  width: 838px;
  font-family: "Inter", serif;
  font-size: 16px;
  line-height: 27px;

  margin-bottom: 30px;
}

.health__program--description::first-letter {
  padding-left: 20px;
}

@media (max-width: 750px ) {
  .health__description {
    width: 638px;
  }
  .health__program--description {
    width: 638px;
  }
}


@media (max-width: 650px ) {
  .health__description {
    font-size: 18px;
    line-height: 33px;
    width: 327px;
    height: 100px;
  
    margin-bottom: 6px;
  
  }

  .health__title {
    width: 338px;
    height: 81px;
    line-height: 33px;
    font-size: 30px;
    text-align: center;

    margin-bottom: 35px;
  }

  .health__program--description {
    width: 339px;
    height: 270px;
    text-align: justify;

    margin-bottom: 18px;
  }
}

/* #end region health__program */


.separator {
  margin: 0 auto;
  background-color: #D2232E;
  height: 3px;
  width: 974px;
  margin-bottom: 40px;
}

@media (max-width: 650px ) {
  .separator {
    height: 1px;
    width: 340px;
    margin-bottom: 35px;
  }
}

/* #start region recommendations */

.recommendations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 44px;
}

.first__recommend {
  width: 645px;
  height: 218px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 1px #000000;

  margin-bottom: 24px;
}

.third__recommend {
  display: none;
}

.recommend__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px 0;
  margin-bottom: 12px;
}

.recommends {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.recommend__header--first {
  display: flex;
  gap: 12px
}

.recomm__icon {
  width: 16px;
  height: 16px;
}

.recommend__main--first {
  padding-left: 16px;
  width: 613px;
}

.recommend__main--second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 16px;

  height: 43px;
}

.rec {
  display: flex;
  align-items: center;

}

.blue__devider {
  width: 2px ;
  height: 43px;
  background-color: #129BF7;
  margin-right: 14px;
}

.heart__icon {
  margin-right: 10px;
}

.rocommend__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #C8C8C8;
  border-bottom: 1px solid #C8C8C8;

  height: 40px;
  margin: 0 16px 12px;

}

.like__icon {
  padding-left: 97px;
}

.recomm__section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.share__section {
  margin-right: 85px;
}

.second__recommend {
  width: 645px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 1px #000000;
}

@media (max-width: 650px ) {
  .recommendations {
    margin-bottom: 17px;
  }

  .first__recommend {
    width: 338px;
    height: 256px;
  
    margin-bottom: 22px;
    
  }

  .third__recommend {
    display: block;

    width: 338px;
    height: 256px;
  
    margin-bottom: 22px;

    border-radius: 10px;
    box-shadow: 0px 0px 8px 1px #000000;
  }

  .second__recommend {
    width: 338px;
    height: 450px;
    margin-bottom: 22px;
  } 

  .recommend__main--p {
    width: 292px;
    height: 83px;
    font-size: 14px;
  }

  .like__icon {
    padding-left: 46px;
  }

  .share__section {
    margin-right: 50px;
  }
}

/* #end region recommendations */


/* #start region comment */

.recommend__comment {
  display: flex;
  gap: 8px;

  padding: 12px 16px 0;
}

.comment__main--info {
  background-color: #F0F2F5;
  padding: 10px 12px;
  border-radius: 20px;
}

.comment__name {
  font-weight: 700;
}

.comment__descr {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.comment__link {
  font-family: Helvetica, sans-serif;
  font-size: 11px;
  font-weight: 700;
  opacity: 0.6;
}

/* #end region comment */


/* #start region footer */

.footer {

  background-color: #3F3939;
  height: 593px;

  display: flex;
  flex-direction: column;
  align-items: center;

}

.footer__main {
  padding-inline: 44px;
}

.footer__head {
  margin-bottom: 8px;
}

.footer__logo {
  padding-block: 11.5px;
}

.footer__links {
  display: flex;
  gap: 138px;

  margin-bottom: 85px;
}

.footer__link {
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

.block__links-1, .block__links-2, .block__links-3, .block__links-4 {
  display: flex;
  flex-direction: column;
}

.block__link {
  height: 47px;
}

.footer__aditional--info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.additional__links {
  display: flex;
  gap: 20px;
}

.footer__footer {
  height: 57px;
  width: 444px;
  padding-bottom: 5px;
  font-size: 14px;

  border: 1px solid #fff;
  background-color: #202020;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: end;
}

@media (max-width: 750px ) {
  .footer__links {
    gap: 70px;
  }
}

@media (max-width: 650px ) {
  .footer {
    height: 746px;
    display: block;
  }

  .footer__head {
    text-align: center;
  }

  .footer__links {
    flex-direction: column;
    gap: 0px;
    font-size: 14px;
    margin-bottom: 0px;
  }

  .footer__link {
    line-height: 28px;
  }

  .block__link {
    height: 28px;
  }

  .additional__links {
    display: block;
  }

  .footer__aditional--info {
    gap: 20px;
    padding-left: 66px;
  }

  .footer__footer {
    height: 61px;
    width: 321px;
    text-align: center;
  }

}

/* #end region footer */
